PORT=3001
AUTO_OPEN_BROWSER=true

SQLSERVER_HOST=localhost
SQLSERVER_INSTANCE=SQLEXPRESS
SQLSERVER_PORT=
SQLSERVER_DATABASE=ClinicaVeterinaria
SQLSERVER_TRUSTED_CONNECTION=true
SQLSERVER_USER=
SQLSERVER_PASSWORD=
SQLSERVER_ODBC_DRIVER=ODBC Driver 18 for SQL Server
